# Diccionarios

In [3]:
# JSON -> Diccionario
usuario = {
    'nombre': 'Edgar',
    'apellido': 'Guaman',
    'edad': 23,
    'hijos': None,
    'casado': False,
    'sueldo': 123.43,
    'mascotas': [
        {'nombre': 'Loky',
        'edad': 5
        }
    ],
    'carro': (0,1,2)
}

In [4]:
usuario['nombre']

'Edgar'

In [6]:
usuario['mascotas']

[{'nombre': 'Loky', 'edad': 5}]

In [7]:
usuario['mascotas'][0]

{'nombre': 'Loky', 'edad': 5}

In [9]:
usuario['mascotas'][0]['nombre']

'Loky'

In [10]:
usuario.get('mascotas')

[{'nombre': 'Loky', 'edad': 5}]

In [11]:
usuario.pop('apellido')

'Guaman'

In [12]:
print(usuario)

{'nombre': 'Edgar', 'edad': 23, 'hijos': None, 'casado': False, 'sueldo': 123.43, 'mascotas': [{'nombre': 'Loky', 'edad': 5}], 'carro': (0, 1, 2)}

In [13]:
usuario

{'nombre': 'Edgar',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 123.43,
 'mascotas': [{'nombre': 'Loky', 'edad': 5}],
 'carro': (0, 1, 2)}

In [14]:
usuario.values()

dict_values(['Edgar', 23, None, False, 123.43, [{'nombre': 'Loky', 'edad': 5}], (0, 1, 2)])

In [15]:
usuario.keys()

dict_keys(['nombre', 'edad', 'hijos', 'casado', 'sueldo', 'mascotas', 'carro'])

In [16]:
type(usuario.values())

dict_values

In [17]:
type(usuario.keys())

dict_keys

In [19]:
for key in usuario.keys():
    print(f"Llave: {key} Valor: {usuario[key]}")

Llave: nombre Valor: Edgar
Llave: edad Valor: 23
Llave: hijos Valor: None
Llave: casado Valor: False
Llave: sueldo Valor: 123.43
Llave: mascotas Valor: [{'nombre': 'Loky', 'edad': 5}]
Llave: carro Valor: (0, 1, 2)

In [20]:
usuario

{'nombre': 'Edgar',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 123.43,
 'mascotas': [{'nombre': 'Loky', 'edad': 5}],
 'carro': (0, 1, 2)}

In [22]:
usuario['apellido']='Guaman'

In [23]:
usuario

{'nombre': 'Edgar',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 123.43,
 'mascotas': [{'nombre': 'Loky', 'edad': 5}],
 'carro': (0, 1, 2),
 'apellido': 'Guaman'}

In [24]:
valores_nuevos = {
    'thalia': 'Thalia',
    'rafael': 'Rafael',
    'xuxa': 'Xuxa'
}

In [25]:
usuario.update(valores_nuevos)

In [26]:
usuario

{'nombre': 'Edgar',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 123.43,
 'mascotas': [{'nombre': 'Loky', 'edad': 5}],
 'carro': (0, 1, 2),
 'apellido': 'Guaman',
 'thalia': 'Thalia',
 'rafael': 'Rafael',
 'xuxa': 'Xuxa'}

In [27]:
mascotas_nuevas = {
    'nombre': 'Manchas',
    'edad': 10,
    'nombre': 'Frodo',
    'edad': 6
}

In [28]:
usuario.get('mascotas')[0].update(mascotas_nuevas)

In [29]:
usuario

{'nombre': 'Edgar',
 'edad': 23,
 'hijos': None,
 'casado': False,
 'sueldo': 123.43,
 'mascotas': [{'nombre': 'Frodo', 'edad': 6}],
 'carro': (0, 1, 2),
 'apellido': 'Guaman',
 'thalia': 'Thalia',
 'rafael': 'Rafael',
 'xuxa': 'Xuxa'}

In [31]:
usuario.get('asd')

In [33]:
#usuario['asd']